// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~datatables.net-dt/css/jquery.dataTables.min.css';

@import 'fontawesome/scss/font-awesome.scss';


.w-inherit{
    width: inherit;
}

.bg-info-light{
    background-color : #a6d4fc !important;
}

.decor-none{
    text-decoration: none;
    color: inherit;
}

.decor-none:hover{
    color: inherit;
}

.clickable {
    cursor : pointer;
}

tbody.loopable::before {
    content: '';
    display: block;
    height: 0.5rem;
}

.btn-thumbnail-top {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    border-radius: 50%;
    padding: 0;
    width: 3rem;
    height: 3rem;
    transition: all .25s ease-in-out
}

.bg-book {
    background-image:url("/public/img/book.png");
}

