// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~datatables.net-dt/css/jquery.dataTables.min.css';

@import 'fontawesome/scss/font-awesome.scss';


.w-inherit{
    width: inherit;
}

.bg-info-light{
    background-color : #a6d4fc !important;
}

.decor-none{
    text-decoration: none;
    color: inherit;
}

.decor-none:hover{
    color: inherit;
}

.clickable {
    cursor : pointer;
}